{{#if data}}
  <h4>Title: {{ data.title }}</h4>
  <p>Link: {{ data.link}}</p>
  <p class="note-id" data-id="{{data._id}}">{{ data._id }}</p>

  <p>Note: {{ data.notes.text }}</p>

{{/if}}


<input type="text" class="note-input" name="note" placeholder="Leave a note"></input>

<button class="note-submit">Submit</button>
<a href="/">Back</a>

<div class="note">
</div>